@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
/*=========================*/
/* general */
/*=========================*/
:root {
  --green: #D8DCAF;
  --lightgreen: #f1f3e0;
  --dark: #323045;
  --purple: #824485;
  --lightpurple:#CC9CC8;
  --orange: #F4E0CC;
  --beige: #f3f0e2;
}
html {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  color: var(--dark);
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
img {
	max-width:100%;
	border:0;
	height:auto;
}
#logo {
  width: 5rem;
  margin-top: 0.2rem;
}
a {
  text-decoration: none;
  color: var(--dark);
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark);
}
/*=========================*/
/* lists */
/*=========================*/ 
ul.unstyle {
  padding-left: 0.8rem;
}
ul.unstyle li {
	list-style: none;
}
ul.checklist li:before {
	content:"\2713";
	margin-right:5px;
}
/*=========================*/
/* header */
/*=========================*/
header .navbar-header {
  position: absolute;
  top: 0;
  background: transparent;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  z-index: 99;
}
.navbar-list > * {
  padding-bottom: 1rem;
  cursor: pointer;
  color: white;
}
header .navbar-header.fixed {
  background: var(--beige);
  position: fixed;
}
header .navbar-header.fixed .navbar-list > * {
  color: var(--dark);
}
.menuBtn {
  display: none;
  padding: 0.4rem;
  border-radius: 0.4rem;
  justify-self: end;
}
.menuBtn .icon-bar {
  display: block;
  width: 1.8rem;
  height: 0.2rem;
  background: black;
  margin: 0.3rem 0;
}
.navbar-collapse {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-self: end;
}
.navbar-collapse .menuCloseBtn {
  display: none;
}
.navbar-collapse .navbar-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1.3rem;
}
.navbar-collapse > * {
  padding: 0.8rem;
}
.navbar-collapse .dropdown {
  position: relative;
}
.navbar-collapse .dropdown-content {
  display: none;
  position: absolute;
  top: 2rem;
  background-color: rgb(150, 150, 150);
  width: 8rem;
  line-height: 2rem;
  font-size: 0.9rem;
}
.navbar-collapse .dropdown:hover .dropdown-content {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: max-content;
}
.dropdown-content a:hover {
  color: var(--beige);
}
@media screen and (max-width: 600px) {
  header .navbar-header {
    background: var(--beige);
    position: fixed;
    top: 0;
  }
  .menuBtn {
    display: inline-block;
  }
  .navbar-collapse {
    display: none;
  }
  .navbar-collapse.open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 10rem;
    height: 100%;
    overflow: auto;
    background: var(--beige);
  }
  .navbar-collapse.open .navbar-list > * {
    color: var(--dark);
  }
  .navbar-collapse.open .menuCloseBtn{
    display: block;
    padding: 0;
  }
  .navbar-collapse.open .navbar-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1rem 7rem 9rem 1rem;
  }
  .navbar-collapse.open a:hover, 
  .navbar-collapse.open .dropbtn:hover  {
    color: var(--lightpurple);
  }
  .navbar-collapse.open .dropdown {
    display: block;
  }
  .navbar-collapse.open .dropdown .dropdown-content {
    display: grid;
    grid-template-columns: max-content;
    padding-left: 1rem;
    background: var(--beige);
  }
}
/*=========================*/
/* footer*/
/*=========================*/
#footer {
  background-color: var(--beige);
  display: grid;
  grid-template-rows: auto auto;
}
#footer p {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
#footer a {
  justify-self: end;
}
/*=========================*/
/* index > video */
/*=========================*/
.videowrap {
  position: relative;
  overflow: hidden;
	width: 100%;
  max-height: 645px;
  margin-top: 0px;
}
.video-containeryt {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
}
.video-containeryt iframe {
	left:0;
	top:0;
	position:absolute;
}
.videowrap .videocontent {
	position:absolute;
	top:40%;
	left:0;
	bottom:0;
	right:0;
	color: white;
	text-align: center;
}
.videowrap .videocontent h3 {
  font-weight: 300;
  margin-bottom: 1rem;
}
.videowrap .videocontent h2 {
  font-weight:600;
  transform: scale(0.4);
  animation: zoomIn 2s forwards 0.4s;
}
@keyframes zoomIn {
  0% {transform: scale(0.4);}
  100%  {transform: scale(1);}
}
.videowrap .videocontent h2 .accentcolor {
  color: var(--lightpurple);
} 
/*=========================*/
/* index > latest updates */
/*=========================*/
.update {
  background-color: var(--green);
  padding: 4rem 3rem 3rem 3rem;
  text-align: center;
  transform: scale(0.4);
  animation: update-zoomIn 0.7s forwards;
}
@keyframes update-zoomIn {
  0% {transform: scale(0.6);}
  100%  {transform: scale(1);}
}
.update .title {
  margin-top: 2rem;
}
.update .tagline {
  margin-bottom: 2rem;
}
.update .tagline:before {
  content: "";
  display: block;
  width: 3rem;
  height: 0.1rem;
  margin: 0.8rem auto;
  background-color: var(--dark);
}
.newpoem-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.newpoem {
  background-color: var(--lightgreen);
  display: grid;
  grid-template-columns: 1fr;
}
.newpoem .view-overlay {
  overflow: hidden;
  position: relative;
  background-color: var(--dark);
}
.newpoem .view-overlay img{
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
}
.newpoem .view-overlay:hover img {
  transform: scale(10);
  opacity: 0;
}
.newpoem .view-overlay .mask {
  color: white;
  width:100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  padding: 0.2rem 1.5rem 0;
  position: absolute;
  top: 30%;
  left: 0;
  opacity: 0;
  transition: all 0.5s linear;
}
.newpoem .view-overlay:hover .mask {
  opacity: 1;
}
.newpoem .mask .false {
  color: var(--lightpurple);
  margin-right: 0.5rem;
}
.newpoem .mask a {
  color: white;
}
.newpoem .mask a:hover {
  color: var(--lightpurple);
}
.update .false {
  border: 0.1rem solid var(--lightpurple);
  margin-right: 0.5rem;
}
.newpoem-info {
  text-align: left;
  padding: 2rem;
  line-height: 2rem;;
}
.newpoem-info h2 {
  margin-bottom: 1rem;
}
.newpoem-info p:after {
  content: "";
  display: block;
  width: 3rem;
  height: 0.1rem;
  background-color: var(--dark);
}
@media screen and (max-width: 950px) {
  .update {
    animation: update-zoomIn2 0.7s forwards;
  }
  @keyframes update-zoomIn2 {
    0% {transform: scale(0.6);}
    100%  {transform: scale(1);}
  }
  .newpoem-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .newpoem-container {
    grid-template-columns: 1fr;
  }
}
/*=========================*/
/* index > features */
/*=========================*/
.features {
  background-color: var(--lightgreen);
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.feature-content {
  padding: 1rem;
  animation: features-zoomIn 0.7s forwards;
}
@keyframes features-zoomIn {
    0% {transform: scale(0.6);}
    100%  {transform: scale(1);}
}
.feature-content h3 {
  margin-bottom: 1rem;
}
.feature-content p {
  line-height: 1.8rem;
}
@media screen and (max-width: 950px) {
  .features {
    grid-template-columns: 1fr;
  }
}
/*=========================*/
/* index > about */
/*=========================*/
.about {
  background-color: var(--purple);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.split {
  min-height: 25rem;
  background-image: url(images/seyedeh-hamideh.jpg);
  background-size: cover;
}
.about-content {
  padding: 3rem;
  color: var(--orange);
}
.about-content h2 {
  margin-bottom: 1rem;
}
.about-content p {
  margin-bottom: 2rem;
}
@media screen and (max-width: 800px) {
  .about {
    grid-template-columns: 1fr;
  }
}
/*=========================*/
/* index-slider > slider */
/*=========================*/
#slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 600px;
}
.slide {
  display: none;
	padding-bottom:65%;
  animation: fadeIn 1s linear forwards;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.slide img {
  position: absolute;
  top: 0;
  object-fit: cover;
}
.slide-content {
	position:absolute;
  top: 30%;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  width: 30rem;
  color: white;
  text-align: center;
  z-index: 9;
}
.slide-content h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase; 
  font-family: serif;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
  transform: translateY(100vh);
  animation: bounceIn 1s ease 0.1s forwards;
}
.slide-content h2 {
  font-size: 2rem;
  font-weight: 500;
  transform: translateY(100vh);
  animation: bounceIn 1s ease 0.9s forwards;
}
@keyframes bounceIn {
  70% { transform: translateY(-20%); }
  80% { transform: translateY(20%); }
  90% { transform: translateY(-10%); }
  95% { transform: translateY(10%); }
  100% { transform: translateY(0%); }
}
.slide-content h2:before,
.slide-content h2:after {
  content: "";
  display: inline-block;
  margin: 0 1rem;
  width: 1.5rem;
  height: 0.1rem;
  vertical-align: middle;
  background-color: white;
}
.prev, .next {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  border-radius: 0 3px 3px 0;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.6s ease;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dots {
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0%;
  margin: 0 auto;
  width: 10rem;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 0.9rem;
  width: 0.9rem;
  margin: 0.2rem;
  border-radius: 50%;
  opacity: 0.8;
  background-color: var(--beige);
  display: inline-block;
}
.dot:hover, .dot.active {
  border: 0.1rem solid var(--beige);
  background-color: var(--dark);
}
/*=========================*/
/* news-text, news-image, news-sort > top image */
/*=========================*/
#newsTop {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 300px;
}
.newsTop-container {
  padding-bottom: 30%;
}
.newsTop-container img {
  position: absolute;
  top: 0;
  object-fit: cover;
  animation: move 10s linear forwards;
}
@keyframes move {
  0% {transform: scale(1.3) translateX(0);}
  100% {transform: scale(1.3) translateX(-20px);}
}
.newsTop-container .newsTop-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: white;
  text-align: center;
  z-index: 10;
}
.newsTop-container h2 {
  font-size: 3rem;
  text-shadow: 0 0 2px black;
  margin-bottom: 1.5rem;
}
.newsTop-container p {
  font-size: 1.2rem;
  text-shadow: 0 0 2px black;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.newsTop-container a {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--lightpurple);
  font-weight: 900;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 2rem;
  transform: rotate(90deg);
}
.newsTop-container a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 600px) {
  #newsTop {
    height: 300px;
  }
  .newsTop-container img {
    height: 100%;
  }
}
/*=========================*/
/* news-text > latest updates */
/*=========================*/
.text-update {
  background-color: var(--green);
  padding: 4rem 3rem 3rem 3rem;
  transform: scale(0.4);
  text-align: center;
  animation: update-zoomIn 0.7s forwards;
}
@keyframes update-zoomIn {
  0% {transform: scale(0.6);}
  100%  {transform: scale(1);}
}
.text-update .title {
  margin-top: 2rem;
}
.text-update .tagline {
  margin-bottom: 2rem;
}
.text-update .tagline:before {
  content: "";
  display: block;
  width: 3rem;
  height: 0.1rem;
  margin: 0.8rem auto;
  background-color: var(--dark);
}
.text-newpoem {
  text-align: left;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding: 1rem;
}
.text-newpoem img {
  width: 15rem;
}
.text-newpoem > * {
  line-height: 2rem;
}
.text-newpoem .text-date {
  font-size: small;
  margin-bottom: 1rem;
}
.text-newpoem .false,
.text-newpoem .keyword {
  color: var(--lightpurple);
  border: 0.1rem solid var(--lightpurple);
  margin-right: 0.5rem;
}
.text-newpoem a:hover {
  color: var(--lightpurple);
}
@media screen and (max-width: 600px) {
  .text-newpoem {
    grid-template-columns: 1fr;
    margin-bottom: 1.5rem;
  }
  .text-newpoem img {
    width: 80vw;
  }
}
/*=========================*/
/* news-sort > latest updates */
/*=========================*/
.sort-update {
  background-color: var(--green);
  padding: 4rem 3rem 3rem 3rem;
  transform: scale(0.4);
  text-align: center;
  animation: update-zoomIn 0.7s forwards;
}
@keyframes update-zoomIn {
  0% {transform: scale(0.6);}
  100%  {transform: scale(1);}
}
#news-filter {
  margin: 4rem auto;
}
#news-filter li {
  display: inline-block;
  list-style: none;
}
#news-filter a {
  display: inline-block;
  margin: 0 0.6rem;
  padding: 1rem;
  border-radius: 15%;
  background-color: var(--lightgreen);
}
#news-filter a.active {
  background-color: var(--dark);
  color: var(--beige);
}
.sort-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.sort {
  display: none;
}
.sort.show {
  display: block;
}
.sort .view-overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sort .view-overlay img {
  flex-grow: 1;
  transition: all 0.7s ease-in-out;
}
.sort .view-overlay:hover img {
  transform: scale(10);
  opacity: 0;
}
.sort .view-overlay .mask {
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  text-transform: uppercase;
}
.sort .view-overlay .mask a {
  color: white;
  border: 0.1rem solid white;
  border-radius: 10%;
  padding: 0.5rem; 
}
.sort .view-overlay .mask a:hover {
  color: var(--dark);
  background-color: white;
}
.sort .view-overlay .mask span {
  margin-right: 0.3rem;
}
.sort .view-overlay h3 {
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
}
@media screen and (max-width: 960px) {
  .sort-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .sort-update {
    padding: 4rem 2rem 3rem 2rem;
  }
  .sort-container {
    grid-template-columns: repeat(2, 1fr);
  }
}